*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --spo-top-header-bg:#080b1254;
    --spo-top-main-bg:#141922;
    --spo-top-aside-bg:#000000;
    --spo-player-bg:#282828;
    --spo-text-primary-color:#6d6d6d;
}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* #region utils  */
.d-flex{
    display: flex;
}

.debug{
    .top{
        .top-left{
            ul{
                li{
                }
            }
        }
        .top-rigth{
            color: white;

            .top-header{
                background-color: var(--spo-top-header-bg);
            }
            .top-main{
                background-color: var(--spo-top-main-bg);
            }
        }
    }
    .bottom{
        background-color: var(--spo-player-bg);
    }

    [class^="col"]{
        height: 200px;
        border: 1px dashed white;
    padding: 0 1rem;
    }

    .card{
        background-color: aquamarine;
        height: 100%;

    }
}

/* row  */
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
    row-gap: 1rem;
}


/* #region columns */
[class^="col"]{
    padding: 0 0.5rem;
}
.col-1{
    width: calc(100% / 12 * 2);
}
.col-2{
    width: calc(100% / 12 * 2);
}
.col-3{
    width: calc(100% / 12 * 3);
}
.col-4{
    width: calc(100% / 12 * 4);
}
.col-5{
    width: calc(100% / 12 * 5);
}
.col-6{
    width: 50%;
}
.col-7{
    width: calc(100% / 12 * 7);
}
.col-8{
    width: calc(100% / 12 * 8);
}
.col-9{
    width: calc(100% / 12 * 9);
}
.col-10{
    width: calc(100% / 12 * 10);
}
.col-11{
    width: calc(100% / 12 * 11);
}
.col-12{
    width: 100%;
}
/* #endregion columns */

/* #endregion utils  */


/* #region general  */
.wrapper{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container{
    width: 100%;
    margin: 0 auto;
    h2{
        color: white;
        padding: 2rem 0;
    }
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* #endregion general  */


/* #region top  */
.top{
    height: calc(100% - 90px);
    
}

/*#region top left  */
.top-left{
    background-color: var(--spo-top-aside-bg);
    width: 230px;
    height: 100%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    a{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.4rem 0;
        font-size: 0.8rem;
        font-weight: 600;
        svg{
            max-width: 12%;
            fill: var(--spo-text-primary-color);
        }
        color: var(--spo-text-primary-color);
        /* hover white for aside link and svg */
        &:hover{
            svg{
                fill: white;
            }
            color: white;
        }
    }   
}

/* spotify logo  */
.aside-logo{
    padding: 1.5rem 0;
    .logo-full{
        display: block;
    }
    /* logo for mobile responsive */
    .logo-small{
        display: none;
    }
    img{
        width: 80%;
    }
}

/* playlist */
.playlist{
    padding: 1rem 0;
    h3{
        font-size: 1rem;
        color: white;
        margin-bottom: 0.5rem;
    }
    .create-playlist i {
        font-size: 1.3rem;
        background-color: #a3a3a3; 
        color: black;
        padding: 8px;
    }
    .create-playlist:hover{
        i{
            background-color: white;
        }
    }
}

/* cta-install */
.cta-install{
    margin-top: auto;
}

/* profile */
.profile{
    a{
        font-size: 0.9rem;
        img{
            width: 23px;
            height: 23px;
            background-color: grey;
            border-radius: 50%;
        }
        color:white;
    }
}
/*#endregion top left  */


/* #region top rigth  */
.top-rigth{
    background-color: var(--spo-top-main-bg);
    height: 100%;
    width: calc(100% - 230px);
    overflow-y: auto ;

}
.top-header{
    background-color: var(--spo-top-header-bg);
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 1000;


    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 0.8rem;
        width: 220px;
        height: 40px;
        border: 1px solid white;
        border-radius: 25px;
        margin-right: 15px;

        &:hover{
            scale: 1.1;
        }
    }

}
.top-main{
    width: 100%;
    padding: 1rem;
    /* links list  */
    .nav-link{
        width: 80%;
        margin: auto;
        ul{
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;
            a{
                position: relative;
                color: var(--spo-text-primary-color);
                font-size: 0.7rem;
                font-weight: 600;
                /* hover white  */
                &:hover{
                    color: white;
                }
            }
            /* underline on active link  */
            .active::after{
                content: "";
                position: absolute;
                left: 50%;
                bottom: -4px;
                transform: translateX(-50%);
                width: 40%; 
                height: 3px;
                background-color: #adff2f; 
                border-radius: 2px;
            }
        }
    }

    /* recently played  */
    .card{
        text-align: center;
        height: 100%;
        .card-img{
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
            img{
                max-width: 100%;
                object-fit: contain;
            }
            /* play icon not visible  */
            i{
                color: white;
                font-size: 3rem;
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:hover{
                cursor: pointer;
                img{
                    filter: brightness(50%);
                }
                i{
                    display: block;
                }
            }
        }
        h3{
            font-size: 1rem;
            color: white;
            padding: 0.5rem 0;
        }
        .subtitle{
            font-size: 0.6rem;
            font-weight: 600;
            color: var(--spo-text-primary-color);

        }
    }


    /* recommentation  */
    .recommendations{
        h2{
            padding-bottom: 0.5rem;
        }
        .subtitle{
            font-size: 0.8rem;
            font-weight: 600;
            color: var(--spo-text-primary-color);
            padding-bottom: 2rem;

        }
    }

    /* popular */
    .popular{
        h2{
            padding-bottom: 0.5rem;
        }
        .subtitle{
            font-size: 0.8rem;
            font-weight: 600;
            color: var(--spo-text-primary-color);
            padding-bottom: 2rem;

        }
        .card-img{
            .img-hover{
                border-radius: 50%;
            }
        }
        img{
            border-radius: 50%;
        }
    }
}
/* #endregion top rigth  */

/* #endregion top  */

/* #region bottom  */
.bottom{
    background-color: var(--spo-player-bg);
    height: 90px;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 1000;

    .container{
        padding: 1rem;
    }
    .player-left{
        align-items: center;
        height: 100%;
        
        color: var(--spo-text-primary-color);
        img{
            width: 40px;
            height: 40px;
        }

        .title{
            padding-left: 0.5rem;
            
            h4{
                color: white;
                font-size: 0.8rem;
            }
            p{
                font-size: 0.7rem;
                font-weight: 600;
                &:hover{
                    cursor: pointer;
                    color: white;
                    text-decoration: underline;
                }
            }
        }

        .left-icons{
            margin-left: auto;
            i{
                cursor: pointer;
                padding: 0.3rem;

                &:hover{
                    color: white;
                }
            }
        }
    }

    .player-middle{
        color: white;
        .controls{
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: 0.5rem 0;
            i{
                font-size: 1rem;
                cursor: pointer;
            }
            .fa-circle-play{
                font-size: 2rem;
                padding: 0 1rem;
                &:hover{
                    scale: 1.1;
                }
            }
        }
        .track-progress{
            justify-content: center;
            align-items: end;
            gap: 1rem;

            p{
                font-size: 0.6rem;
                font-weight: 600;
            }
            .slide-container{
                position: relative;
                top: 0;
                left: 0;
                width: 400px;
                height: 6px;
                border-radius: 3px;
                background-color: var(--spo-text-primary-color);
                /* time progression  */
                .progress-filled{
                    height: 100%;
                    background-color: white;
                    width: 90px;
                    border-radius: 3px;
                }
                .progress-thumb{
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 22%;
                    width: 14px;
                    height: 14px;
                    background-color: white;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                }
                &:hover{
                    cursor: pointer;
                    .progress-filled{
                        background-color: #adff2f;
                    }
                    .progress-thumb{
                        display: block;
                    }
                }
            }
        }
    }

    .player-right{
        .row{
            justify-content: space-between;
        }
        height: 100%;
        justify-content: end;
        align-items: center;
        gap: 0.7rem;
        color: white;
        i{
            cursor: pointer;
        }
        .slide-container{
            position: relative;
            top: 0;
            left: 0;
            width: 120px;
            height: 6px;
            border-radius: 3px;
            background-color: var(--spo-text-primary-color);
            /* time progression  */
            .progress-filled{
                height: 100%;
                background-color: white;
                width: 90px;
                border-radius: 3px;
            }
            .progress-thumb{
                display: none;
                position: absolute;
                top: 50%;
                left: 75%;
                width: 14px;
                height: 14px;
                background-color: white;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
            }
            &:hover{
                cursor: pointer;
                .progress-filled{
                    background-color: #adff2f;
                }
                .progress-thumb{
                    display: block;
                }
            }
        }
    }


}

/* #endregion bottom  */





/************************* RESPONSIVE **************************/

/* responsive md (tablet 878px ) */
@media screen and (max-width:878px){
    /* aside already responsive */

    /* header btn already responsive */

    /* top main  */
    .top-main{
        /* links list  */
        .nav-link{
            width: 85%;
        }
        /* main card  */
        .card{
            .subtitle{
                font-weight: 700;
            }
        }
    }

    /* bottom  */
    .bottom {
        .player-middle{
            .track-progress{
                .slide-container{
                    width: 220px;
                    /* time progression  */
                    .progress-filled{
                        height: 100%;
                        background-color: white;
                        width: 40px;
                        border-radius: 3px;
                    }
                    .progress-thumb{
                        top: 50%;
                        left: 18%;
                    }
                }
            }
        }
    }
    /* #region columns-md */
    .col-md-1{
        width: calc(100% / 12 * 2);
    }
    .col-md-2{
        width: calc(100% / 12 * 2);
    }
    .col-md-3{
        width: calc(100% / 12 * 3);
    }
    .col-md-4{
        width: calc(100% / 12 * 4);
    }
    .col-md-5{
        width: calc(100% / 12 * 5);
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-7{
        width: calc(100% / 12 * 7);
    }
    .col-md-8{
        width: calc(100% / 12 * 8);
    }
    .col-md-9{
        width: calc(100% / 12 * 9);
    }
    .col-md-10{
        width: calc(100% / 12 * 10);
    }
    .col-md-11{
        width: calc(100% / 12 * 11);
    }
    .col-md-12{
        width: 100%;
    }
    /* #endregion columns */


}



/* responsive s (tablet-small 641px ) */
@media screen and (max-width:641px){
    /* aside already responsive */

    /* header btn already responsive */

    /* top main  */
    .top-main{
        /* links list  */
        .nav-link{
            width: 90%;
        }
        /* main card  */  
    }

    /* bottom  */
    .bottom {
        .player-middle{
            .track-progress{
                .slide-container{
                    width: 140px;
                    .progress-thumb{
                        left: 28%;
                    }
                }
            }
        }
        .player-right{
            .slide-container{
                width: 100px;
                /* time progression  */
                .progress-filled{
                    width: 75px;
                }
                .progress-thumb{
                    left: 75%;
                }
            }
        }
    }
    .player-left{
        .left-icons{
            flex-direction: column;
            margin-left: auto;
            i{
                cursor: pointer;
                padding: 0 0.3rem;
            }
        }
    }


    /* #region columns-sm */
    .col-sm-1{
        width: calc(100% / 12 * 2);
    }
    .col-sm-2{
        width: calc(100% / 12 * 2);
    }
    .col-sm-3{
        width: calc(100% / 12 * 3);
    }
    .col-sm-4{
        width: calc(100% / 12 * 4);
    }
    .col-sm-5{
        width: calc(100% / 12 * 5);
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-7{
        width: calc(100% / 12 * 7);
    }
    .col-sm-8{
        width: calc(100% / 12 * 8);
    }
    .col-sm-9{
        width: calc(100% / 12 * 9);
    }
    .col-sm-10{
        width: calc(100% / 12 * 10);
    }
    .col-sm-11{
        width: calc(100% / 12 * 11);
    }
    .col-sm-12{
        width: 100%;
    }
    /* #endregion columns */




}

/* responsive xs (mobile 552px ) */
@media screen and (max-width:552px) and (min-height:351px){
    .top{
        /* aside div  */
        .top-left{
            width: 50px;
            height: 100%;
            padding: 0 0;
            align-items: center;
            /* remove hr in aside  */
            hr{
                display: none;
            }
            /* resize aside svg  */
            a{
                svg{
                    max-width: 30px;
                }
                
            }
        }
        .top-rigth{
            width: calc(100% - 50px);
            /* header btn already responsive */

        }
    }
    /* #region aside  */
    .aside-logo{
        padding: 0.5rem 0;
        .logo-full{
            display: none;
        }
        /* logo for mobile responsive */
        .logo-small{
            display: block;
        }
        img{
            width: 35px;
        }
    }
    /* aside navigation  */
    .aside-navigation{
        span{
            display: none;
        }
        a{
            svg{
                width: 30px;
                height: 30px;
            }
        }
    }
    /* playlist */
    .playlist{
        display: none;
    }
    /* cta-install */
    .cta-install{
        span{
            display: none;
        }
        a{
            svg{
                transform: translate(-5%, 0);
                width: 15px;
            }
        }
    }
    /* profile */
    .profile{
        span{
            display: none;
        }
        a{
            img{
                width: 30px;
                height: 30px;

            }
        }
    }
    /* #endregion aside  */

    /* top main  */
    .top-main{
        /* links list  */
        .nav-link{
            width: 95%;
        }
        /* main card  */
        .card{
            .subtitle{
                font-size: 0.7rem;
                font-weight: 700;
            }
        }
    }

    /* bottom  */
    .bottom {
        .player-left{
            align-items: center;
            height: 100%;
            
            color: var(--spo-text-primary-color);
            img{
                width: 40px;
                height: 40px;
            }

            .title{
                padding-left: 0.5rem;
                
                h4{
                    color: white;
                    font-size: 0.7rem;
                }
                p{
                    font-size: 0.5rem;
                    font-weight: 600;
                }
            }

            .left-icons{
                i{
                    cursor: pointer;
                    padding: 0.3rem;
                    font-size: 0.8rem;

                    &:hover{
                        color: white;
                    }
                }
            }
        }
        .player-middle{
            .controls{
                justify-content: center;
                align-items: center;
                gap: 0.7rem;
                padding: 0.5rem 0;
                i{
                    font-size: 0.8rem;
                    cursor: pointer;
                }
                .fa-circle-play{
                    font-size: 1.5rem;
                    padding: 0 0.5rem;
                    &:hover{
                        scale: 1.1;
                    }
                }
            }
            .track-progress{
                .slide-container{
                    width: 130px;
                    .progress-filled{
                        width: 25px;
                    }
                    .progress-thumb{
                        left: 30%;
                    }
                }
            }
        }
        .player-right{
            i{
                font-size: 0.7rem;
            }
            .slide-container{
                width: 55px;
                /* time progression  */
                .progress-filled{
                    width: 35px;
                }
                .progress-thumb{
                    left: 60%;
                }
            }
        }
    }
    /* #region columns-sm */
    .col-xs-1{
        width: calc(100% / 12 * 2);
    }
    .col-xs-2{
        width: calc(100% / 12 * 2);
    }
    .col-xs-3{
        width: calc(100% / 12 * 3);
    }
    .col-xs-4{
        width: calc(100% / 12 * 4);
    }
    .col-xs-5{
        width: calc(100% / 12 * 5);
    }
    .col-xs-6{
        width: 50%;
    }
    .col-xs-7{
        width: calc(100% / 12 * 7);
    }
    .col-xs-8{
        width: calc(100% / 12 * 8);
    }
    .col-xs-9{
        width: calc(100% / 12 * 9);
    }
    .col-xs-10{
        width: calc(100% / 12 * 10);
    }
    .col-xs-11{
        width: calc(100% / 12 * 11);
    }
    .col-xs-12{
        width: 100%;
    }
    /* #endregion columns */
}

/* responsive heigth 350px (widget ) */
@media screen and (max-height:350px){
    .top{
        .top-left{
            width: 230px;
            height: 100%;

        }
        .top-rigth{
            width: calc(100% - 230px);
            /* header btn already responsive */

        }
    }

}