*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --spo-top-header-bg:#080b1254;
    --spo-top-main-bg:#141922;
    --spo-top-aside-bg:#000000;
    --spo-player-bg:#282828;
    --spo-text-primary-color:#6d6d6d;

}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* utils  */
.d-flex{
    display: flex;
}

.debug{
    .top{
        .top-left{
            ul{
                li{
                }
            }
        }
        .top-rigth{
            color: white;

            .top-header{
                background-color: var(--spo-top-header-bg);
            }
            .top-main{
                background-color: var(--spo-top-main-bg);
            }
        }
    }
    .bottom{
        background-color: var(--spo-player-bg);
    }
}

/* #region general  */
.wrapper{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* #region top  */
.top{
    height: calc(100% - 90px);
    
}

/*#region top left  */
.top-left{
    background-color: var(--spo-top-aside-bg);
    width: 230px;
    height: 100%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    a{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.4rem 0;
        font-size: 0.8rem;
        font-weight: 600;
        img{
            max-width: 12%;
        }
        color: var(--spo-text-primary-color);
    }
}

/* spotify logo  */
.aside-logo{
    padding: 1.5rem 0;
    .logo-full{
        display: block;
    }
    /* logo for mobile responsive */
    .logo-small{
        display: none;
    }
    img{
        width: 80%;
    }
}

/* playlist */
.playlist{
    padding: 1rem 0;
    h3{
        font-size: 1rem;
        color: white;
        margin-bottom: 0.5rem;
    }
    .create-playlist i {
        font-size: 1.3rem;
        background-color: #a3a3a3; 
        color: black;
        padding: 8px;
    }
}

/* cta-install */
.cta-install{
    margin-top: auto;
}

/* profile */
.profile{
    a{
        font-size: 0.9rem;
        img{
            width: 23px;
            height: 23px;
            background-color: grey;
            border-radius: 50%;
        }
        color:white;
    }
}
/*#region top left  */


/* top rigth  */
.top-rigth{
    background-color: var(--spo-top-main-bg);
    height: 100%;
    width: calc(100% - 230px);
    overflow-y: auto ;

}
.top-header{
    background-color: var(--spo-top-header-bg);
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: end;

    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 0.8rem;
        width: 220px;
        height: 40px;
        border: 1px solid white;
        border-radius: 25px;
        margin-right: 15px;

        &:hover{
            scale: 1.1;
        }
    }

}
.top-main{
    width: 100%;
}

/* #endregion top  */

.bottom{
    background-color: var(--spo-player-bg);
    height: 90px;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 1000;

}
/* #endregion general  */




/************************* RESPONSIVE **************************/

/* responsive md (tablet 878px ) */
@media screen and (max-width:878px){
/* aside already responsive */
/* header btn already responsive */
}



/* responsive s (tablet-small 641px ) */
@media screen and (max-width:641px){
/* aside already responsive */
/* header btn already responsive */


}

/* responsive xs (mobile 552px ) */
@media screen and (max-width:552px){
    .top{
        /* aside div  */
        .top-left{
            width: 50px;
            height: 100%;
            padding: 0 0;
            align-items: center;
            /* remove hr in aside  */
            hr{
                display: none;
            }
            /* resize aside img  */
            a{
                img{
                    max-width: 30px;
                }
                color: var(--spo-text-primary-color);
            }
        }
        .top-rigth{
            width: calc(100% - 50px);
            /* header btn already responsive */

        }
    }
    /* #region aside  */
    .aside-logo{
        padding: 0.5rem 0;
        .logo-full{
            display: none;
        }
        /* logo for mobile responsive */
        .logo-small{
            display: block;
        }
        img{
            width: 35px;
        }
    }
    /* aside navigation  */
    .aside-navigation{
        span{
            display: none;
        }
        a{
            img{
                width: 30px;
                height: 30px;
            }
        }
    }
    /* playlist */
    .playlist{
        display: none;
    }
    /* cta-install */
    .cta-install{
        span{
            display: none;
        }
        a{
            img{
                transform: translate(-5%, 0);
                width: 15px;
            }
            color: var(--spo-text-primary-color);
        }
    }
    /* profile */
    .profile{
        span{
            display: none;
        }
        a{
            img{
                width: 30px;
                height: 30px;

            }
        }
    }
    /* #endregion aside  */

}

/* responsive heigth 350px (widget ) */
@media screen and (max-height:350px){
    .top{
        .top-left{
            width: 230px;
            height: 100%;

        }
        .top-rigth{
            width: calc(100% - 230px);
            /* header btn already responsive */

        }
    }
}